.landing_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('/assets/images/jpg/fundo-landing.jpg') no-repeat center center;
  background-size: cover;
}

.landing_container_main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;

  height: 100dvh;
  width: 100%;
}

.landing_container_header {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
  }
}

.landing_container_footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
