.landing_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.landing_container_main {
  text-align: center;
}

.landing_container_header {
  margin-bottom: 2rem;
}

.landing_container_footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
