.list-container {
  display: grid;
  grid-template-rows: auto 1fr auto;

  min-height: 100vh;
  min-height: 100dvh;
}

.main-content {
  overflow-y: auto;
  max-height: calc(100dvh - 102.4px - 104px);
}
