.filter-select {
  display: flex;
  align-items: center;
  gap: 8px;

  .select-field {
    flex: 1;
    font-weight: 500;

    ::ng-deep .mat-select-value {
      color: #1976d2; /* azul */
    }
  }

  mat-icon {
    cursor: pointer;
  }
}
