<div class="list-controls">
  @if (enableSearch) {
  <app-search-bar [(value)]="searchTerm" placeholder="Pesquise aqui"></app-search-bar>
  } @if (enableFilter) {
  <app-filter-bar
    class="filter-full"
    [title]="'Categoria'"
    [options]="[
      { value: '', label: 'Todas' },
      { value: 'A', label: 'Categoria A' },
      { value: 'B', label: 'Categoria B' },
      { value: 'C', label: 'Categoria C' }
    ]"
    (optionSelected)="onCategoryChange($event)"
  >
  </app-filter-bar>
  }
</div>

<mat-list class="card-list">
  @for (item of filteredItems; track $index) {
  <app-card-default [item]="item"></app-card-default>
  <mat-divider></mat-divider>
  }
</mat-list>

@if (filteredItems.length === 0) {
<div class="empty-state">
  <img src="assets/images/png/placeholder.png" alt="Imagem de placeholder">
  <p>Nenhum item encontrado.</p>
</div>
}
