<div class="list-controls">
  @if (enableSearch) {
  <app-search-bar [(value)]="searchTerm" placeholder="Pesquise aqui"></app-search-bar>
  } @if (enableFilter) {
  <app-filter-bar
    class="filter-full"
    [title]="'Categoria'"
    [options]="[
      { value: '', label: 'Todas' },
      { value: 'A', label: 'Categoria A' },
      { value: 'B', label: 'Categoria B' },
      { value: 'C', label: 'Categoria C' }
    ]"
    (optionSelected)="onCategoryChange($event)"
  >
  </app-filter-bar>
  }
</div>

<mat-list class="card-list">
  <div class="cards-grid">
    @for (item of filteredItems; track items) {
      <div class="card-item">
        <ng-container 
          *ngComponentOutlet="getComponent(item); 
                            inputs: { item: item }" 
        ></ng-container>
      </div>
      @if ($index < filteredItems.length - 1 && $index % 1 === 0 && filteredItems.length > 0 && 
            (getComponent(item) === getComponent(filteredItems[$index + 1])) && filteredItems.length < 2) {
            <mat-divider></mat-divider>
      }
    }
  </div>
</mat-list>

@if (filteredItems.length === 0) {
<div class="empty-state">Nenhum item encontrado.</div>
}
