:host {
  display: block;
  padding: 12px 16px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  background-color: var(--white-color);
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #f9f9f9;
  }
}

.map-item-card {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.item-image {
  width: 72px;
  height: 72px;
  border-radius: 8px;
  object-fit: cover;
  flex-shrink: 0;
}

.item-content {
  flex: 1;
  min-width: 0; /* Para evitar que o texto empurre outros elementos */
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.item-title {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color-dark);
  margin: 0 0 4px 0;
}

.item-rating {
  display: flex;
  color: var(--secondary-color-dark);
  
  mat-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
  }
}

.item-meta, .item-details {
  font-size: 0.875rem;
  color: var(--text-color-light);
  margin: 0 0 4px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.favorite-button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-color-light-light);
  padding: 0;
}