.list-card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 12px !important;
  transition: transform 0.2s ease;
  background: var(--white-color);
  padding: 0 !important;
  width: 100%;

  &:hover {
    transform: scale(1.005);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }
}

.card-container {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding: 10px;
}

.card-image {
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;
  object-fit: cover;
  border-radius: 12px !important;
}

.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 !important;
}

.card-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.card-title {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--text-color-dark);
  margin: 0;
  padding-right: 8px;
}

.card-subtitle-details {
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--text-color-light-middle);
  margin-top: 2px;
  margin-bottom: 4px;
}

.card-description {
  font-size: 0.8rem;
  color: var(--text-color-light);
  margin: 0;
  
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.4;
  max-height: calc(1.4em * 2);
}

.card-subtitle {
  display: none;
}
