<mat-card class="list-card">
  <div class="card-container">
    <img class="card-image" [src]="item.image.url" [alt]="'Imagem de ' + item.title">

    <div class="card-content">
      <div class="card-header">
        <mat-card-title class="card-title">{{ item.title }}</mat-card-title>
        <button mat-icon-button class="card-menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>

      <mat-card-subtitle class="card-subtitle-details">
        ${{ item.price >= 35 && item.price <= 70 ? '$' : item.price < 35 ? '' : '$$' }} • {{ item.location.city }} - {{ item.location.uf }}
      </mat-card-subtitle>
      
      <p class="card-description">{{ item.description }}</p>
    </div>
  </div>
</mat-card>
