:host {
  display: block;
  height: 100vh;
  overflow: hidden;
}

.map-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.map-background {
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #aaa;
}

.bottom-sheet {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--white-color);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);
  padding-bottom: 70px; /* Espaço para o footer */
  max-height: 80%;
  display: flex;
  flex-direction: column;
}

.handle {
  width: 40px;
  height: 4px;
  background-color: #ccc;
  border-radius: 2px;
  margin: 8px auto;
  cursor: grab;
}

.expand-button-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.expand-button {
  background-color: var(--primary-color);
  color: white;
  border-radius: 20px;
  padding: 0 16px;

  mat-icon {
    margin-right: 8px;
  }
}

.tab-content {
  overflow-y: auto;
  max-height: 40vh; /* Ajuste a altura conforme necessário */
}

.empty-state {
  text-align: center;
  padding: 2rem;
  color: var(--text-color-light-light);
}

.see-more-button {
  display: block;
  margin: 16px auto;
  border-radius: 20px;
  color: var(--text-color-dark);
  border-color: var(--text-color-light-light);
}

// Estilos para o Angular Material Tabs
:host ::ng-deep {
  .mat-mdc-tab-body-wrapper {
    height: 100%;
  }
  .mat-mdc-tab-group {
    flex-grow: 1;
  }
  .mat-mdc-tab-list {
    margin: 0 16px;
  }
}