.image-container {
  width: 100%;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 8px var(--white-color);
  
  img {
    object-fit: contain;
  }
}
