:host {
  display: block;
  width: 100%;
}

.summary-item-container {
  display: flex;
  align-items: center;
  padding: 8px 0;
  gap: 12px;
}

.item-image {
  width: 56px;
  height: 56px;
  border-radius: 8px;
  object-fit: cover;
  flex-shrink: 0;
}

.item-content {
  flex: 1;
  min-width: 0;
}

.item-title {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color-dark);
  margin: 0;
}

.item-subtitle {
  font-size: 0.875rem;
  color: var(--text-color-light);
  margin: 2px 0 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 8px;
  color: var(--text-color-light);

  mat-icon {
    font-size: 18px;
    height: 18px;
    width: 18px;
  }
}

.remove-button {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  line-height: 28px;
  background-color: var(--primary-color); //
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;

  mat-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
}