.home-container {
  display: grid;
  grid-template-rows: auto 1fr auto;

  min-height: 100vh;
  min-height: 100dvh;
}

.main-content {
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
