.footer_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 0;
  background-color: var(--white-color);

  &__icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color-light);
    text-decoration: none;
    cursor: pointer;

    &.active mat-icon {
      background: var(--primary-color-light);
      border-radius: 50px;
    }

    mat-icon {
    padding: 6px 16px;

    }
  }
}
