.cadastro_container {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: column;
  background: var(--background-color);
  min-height: 100dvh;
  height: auto;
  width: 100%;

  &_header {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    h2 {
      font-size: 2.5rem;
      font-weight: bold;
      color: var(--primary-color-dark);
    }
  }

  &_formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }

  &_footer {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: 12px;
      color: var(--text-color-light);

      a {
        color: var(--text-color-light);
      }
    }
  }
}
