.select_profile_container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  height: 100%;
  background: var(--background-color);
  box-sizing: border-box;
  overflow: hidden;

  &_header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;

    img {
      width: 50px;
    }

    h1 {
      font-size: 1.75rem;
      font-weight: 700;
      color: var(--primary-color-dark);
      margin: 0;
    }
  }

  &_content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    box-sizing: border-box;

    .form-title {
      font-size: 2.5em;
      font-weight: 800;
      color: var(--text-color-dark);
      margin-bottom: 2rem;
      text-align: center;
      width: 100%;

      span {
        color: var(--text-color-light-middle);
      }
    }

    .carousel-container {
      position: relative;
      width: 100%;
      height: 420px;
      perspective: 1000px;
      margin-bottom: 2rem;
      cursor: grab;
      user-select: none;
    }

    .carousel-container:active {
      cursor: grabbing;
    }

    .carousel-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
    }

    .carousel-slide {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }

    .profile-card {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      max-width: 280px;
      height: 380px;
      border-radius: 24px !important;
      text-align: center;
      background-color: var(--white-color);
      transition: all 0.3s ease;
      box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      padding: 1rem !important;

      mat-card-content {
        position: relative;
        z-index: 2;
      }
    }

    .card-image-container {
      width: 100%;
      height: 120px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 0 8px var(--white-color);
    }

    .profile-card img {
      object-fit: contain;
    }

    .profile-card h3 {
      font-size: 1.5rem;
      font-weight: 700;
      color: var(--text-color-dark);
      margin: 0 0 0.5rem 0;
    }

    .profile-card p {
      color: var(--text-color-light);
      line-height: 1.5;
      margin: 0;
    }

    .carousel-dots {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.75rem;
    }

    .dot {
      width: 20px;
      height: 10px;
      border-radius: 30px;
      background-color: var(--background-color-dark);
      cursor: pointer;
      transition: all 0.3s ease;
      &.active {
        background-color: var(--primary-color-dark);
        width: 40px;
      }
    }
  }

  &_footer {
    padding: 1.5rem;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;

    button {
      // width: 100%;
      padding: 10px 40px;
      // font-size: 1rem;
      // font-weight: bold;
      // border-radius: 16px;
      // background-color: var(--primary-color-dark);
      // color: var(--white-color);
    }
  }
}
