:host {
  display: block;
  width: 100%;
  height: 100%;
}

.map-iframe-wrapper {
  width: 100%;
  height: 100%;
  background-color: #eee;
  border-radius: 12px;
  overflow: hidden;
}

.map-placeholder-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #888;
  font-size: 0.9rem;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}