<footer class="footer_container">
  <a routerLink="/" routerLinkActive="active" class="footer_container__icons">
    <mat-icon>home</mat-icon>
    Início
  </a>

  <a routerLink="/eventos" routerLinkActive="active" class="footer_container__icons">
    <mat-icon>event</mat-icon> Eventos
  </a>

  <a routerLink="/comercios" routerLinkActive="active" class="footer_container__icons">
    <mat-icon>store</mat-icon>
    Comércios
  </a>

  <a routerLink="/usuarios" routerLinkActive="active" class="footer_container__icons">
    <mat-icon>groups</mat-icon>
    Usuários
  </a>

  <a routerLink="/perfil" routerLinkActive="active" class="footer_container__icons">
    <mat-icon>person</mat-icon>
    Perfil
  </a>
</footer>
