
:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--background-color-light);
}

.form-page-container {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  app-dynamic-form {
    width: 100%;
    max-width: 400px;
  }

  ::ng-deep app-dynamic-form .form-title {
    display: none;
  }

  ::ng-deep app-dynamic-form .form_container {
    padding: 2rem;
    background-color: var(--white-color);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  }
}